<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.{{USERNAME}}ssd-mount-check</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/zsh</string>
		<string>-c</string>
		<string>until [ -d {{SSD_MOUNT}} ]; do sleep 5; done; {{SSD_MOUNT}}/Dev/scripts/ssd-tools/1-mount-check.sh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/ssd-mount-check.log</string>
	<key>StandardOutPath</key>
	<string>/tmp/ssd-mount-check.log</string>
	<key>StartInterval</key>
	<integer>300</integer>
</dict>
</plist>
