<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.{{USERNAME}}daily-dev-log</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>{{SSD_MOUNT}}/Dev/scripts/ssd-tools/16-daily-dev-log.sh</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>8</integer>
    <key>Minute</key>
    <integer>30</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>/tmp/daily-dev-log.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/daily-dev-log.log</string>
</dict>
</plist>
